package service

import (
	"context"

	"{{.ModuleName}}/internal/application/api"
	"{{.ModuleName}}/pb"
)

type Adapter struct {
	api *api.Adapter
	pb.Unimplemented{{.Name | title}}ServiceServer
}

func NewAdapter(api *api.Adapter) *Adapter {
	return &Adapter{
		api: api,
	}
}

func (a *Adapter) Health(ctx context.Context, req *pb.EmptyRequest) (*pb.HealthCheckResponse, error) {
	return &pb.HealthCheckResponse{Service: "{{.Name}}", Message: "pong"}, nil
}
