package service

import (
	"{{ .ModuleName }}/internal/application/api"
	"{{ .ModuleName }}/internal/ports"
	"{{ .ModuleName }}/pb"
)

type Adapter struct {
	api ports.API
	pb.UnimplementedAuthenticationServiceServer
}

func NewAdapter(api *api.Adapter) *Adapter {
	return &Adapter{
		api: api,
	}
}
