package api

import (
	"{{ .ModuleName }}/internal/ports"
	"{{ .ModuleName }}/pkg/client"
)

type Adapter struct {
	repo   ports.Database
	client *client.HTTPClient
}

type Options func(*Adapter) error

func NewAdapter(repo ports.Database, client *client.HTTPClient, opts ...Options) (*Adapter, error) {
	adapter := &Adapter{
		repo:   repo,
		client: client,
	}

	for _, opt := range opts {
		if err := opt(adapter); err != nil {
			return nil, err
		}
	}

	return adapter, nil
}
