package handler

import (
	"context"

	"{{ .ModuleName }}/pb"
)

func (a *Adapter) Health(ctx context.Context, req *pb.EmptyRequest) (*pb.HealthCheckResponse, error) {
	resp, err := a.api.Health(ctx)
	if err != nil {
		return nil, err
	}

	return &pb.HealthCheckResponse{
		Error:   false,
		Service: resp,
		Message: "OK",
	}, nil
}
